<!DOCTYPE html>
<html>
<% include ../partials/aheader %>
<!-- <form action="/admins/generatequestionpaper" method="POST">
	<input type="text" name="Subject" placeholder="Subject">
	<input type="text" name="Semester" placeholder="Semester">
	<input type="text" name="SubjectCode" placeholder="SubjectCode">
	<br>
	<input type="text" name="a1" id="a1" placeholder="1a">
	<input type="text" name="b1" id="b1" placeholder="1b">
	<input type="text" name="c1" id="c1" placeholder="1c">
	<input type="text" name="d1" id="d1" placeholder="1d">
	<input type="text" name="a2" id="a2" placeholder="2a">
	<input type="text" name="b2" id="b2" placeholder="2b">
	<input type="text" name="c2" id="c2" placeholder="2c">
	<input type="text" name="d2" id="d2" placeholder="2d">
	<input type="text" name="a3" id="a3" placeholder="3a">
	<input type="text" name="b3" id="b3" placeholder="3b">
	<input type="text" name="c3" id="c3" placeholder="3c">
	<input type="text" name="d3" id="d3" placeholder="3d">
	<input type="text" name="a4" id="a4" placeholder="4a">
	<input type="text" name="b4" id="b4" placeholder="4b">
	<input type="text" name="c4" id="c4" placeholder="4c">
	<input type="text" name="d4" id="d4" placeholder="4d">
	<input type="text" name="a5" id="a5" placeholder="5a">
	<input type="text" name="b5" id="b5" placeholder="5b">
	<input type="text" name="c5" id="c5" placeholder="5c">
	<input type="text" name="d5" id="d5" placeholder="5d">
	<br><br>
	<input type="time" name="stime" placeholder="hh:mm">
	<input type="submit" value="EncryptAndSave">
</form>
<% papers.forEach(function(paper){ %>
<table id="table" border="5" align="Center">
	<h3 align="Center"><%= paper.subjectname %></h3>
	<tr>
		<th>Sr.No</th> -->
		<!--<th>Q.No</th>
		<th>Questions</th>
		<th>CO</th>
		<th>BT</th>
	</tr>
	<tr>-->
		<!-- <td rowspan="5">1</td> -->
		<!--<td>1a</td>
		<td><%= paper.a1 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>1b</td>
		<td><%= paper.b1 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>1c</td>
		<td><%= paper.c1 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>1d</td>
		<td><%= paper.d1 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr>-->
		<!-- <td rowspan="5">2</td> -->
		<!--<td>2a</td>
		<td><%= paper.a2 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>2b</td>
		<td><%= paper.b2 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>2c</td>
		<td><%= paper.c2 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>2d</td>
		<td><%= paper.d2 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr>-->
		<!-- <td rowspan="5">3</td> -->
		<!--<td>3a</td>
		<td><%= paper.a3 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>3b</td>
		<td><%= paper.b3 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>3c</td>
		<td><%= paper.c3 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>3d</td>
		<td><%= paper.d3 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr>-->
		<!-- <td rowspan="5">4</td> -->
		<!--<td>4a</td>
		<td><%= paper.a4 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>4b</td>
		<td><%= paper.b4 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>4c</td>
		<td><%= paper.c4 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>4d</td>
		<td><%= paper.d4 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr>-->
		<!-- <td rowspan="5">5</td> -->
	<!-- 	<td>5a</td>
		<td><%= paper.a5 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>5b</td>
		<td><%= paper.b5 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>5c</td>
		<td><%= paper.c5 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>5d</td>
		<td><%= paper.d5 %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td><button data-target="#choose">Choose</button></td>
	</tr>
	<% }) %>
</table>
<div id="choose">-->
<!--<script> 
	// function register(){
	// var table = document.getElementById('table'),rIndex;
	// 	// table.rows[i].onclick = function()
	// 	// {
	// 		// rIndex	=	table.rowIndex;
	// 		// console.log(rIndex);
	// 		table.rows[25].cells[0].onclick = function(){
	// 			var index = this.parentElement;
	// 			alert(index);
			
		
			// var table = document.getElementById('table'),rIndex;
			// document.getElementById("a1").value	=	table.rows[1].cells[1].innerHTML;
			// document.getElementById("b1").value	=	table.rows[2].cells[1].innerHTML;
			// document.getElementById("c1").value	=	table.rows[3].cells[1].innerHTML;
			// document.getElementById("d1").value	=	table.rows[4].cells[1].innerHTML;
			// document.getElementById("a2").value	=	table.rows[6].cells[1].innerHTML;
			// document.getElementById("b2").value	=	table.rows[7].cells[1].innerHTML;
			// document.getElementById("c2").value	=	table.rows[8].cells[1].innerHTML;
			// document.getElementById("d2").value	=	table.rows[9].cells[1].innerHTML;
			// document.getElementById("a3").value	=	table.rows[11].cells[1].innerHTML;
			// document.getElementById("b3").value	=	table.rows[12].cells[1].innerHTML;
			// document.getElementById("c3").value	=	table.rows[13].cells[1].innerHTML;
			// document.getElementById("d3").value	=	table.rows[14].cells[1].innerHTML;
			// document.getElementById("a4").value	=	table.rows[16].cells[1].innerHTML;
			// document.getElementById("b4").value	=	table.rows[17].cells[1].innerHTML;
			// document.getElementById("c4").value	=	table.rows[18].cells[1].innerHTML;
			// document.getElementById("d4").value	=	table.rows[19].cells[1].innerHTML;
			// document.getElementById("a5").value	=	table.rows[21].cells[1].innerHTML;
			// document.getElementById("b5").value	=	table.rows[22].cells[1].innerHTML;
			// document.getElementById("c5").value	=	table.rows[23].cells[1].innerHTML;
			// document.getElementById("d5").value	=	table.rows[24].cells[1].innerHTML;
		// };
// 	}
// }
</script> -->
</div> 
<style type="text/css">
			.t{
	text-align: center;
		}
</style>
<div class="col-md-6 offset-md-3">
	<legend align="Center">List Of Papers</legend>
<form action="/admins/displayqpaper" method="POST">
<table  id="table" border='5' align="Center">
	<tr>
		<!-- <th class="t">Subject</th> -->
		<th class="t">Teacher Name</th>
		<th class="t">Teacher College</th>
		<th class="t">Teacher MailId</th>
		<th class="t">Subject Code</th>
		<th class="t">Semester</th>
		<th class="t">Subject</th>
	</tr>
<% papers.forEach(function(paper){ %>
	<tr class="t">		
		<!-- <td><label><%= paper.subjectname %></td></label> -->
		<td><%= paper.tname %></td>
		<td><%= paper.tcollege %></td>
		<td><%= paper.tmail %></td>
		<td><%= paper.subjectcode %></td>
		<td><%= paper.semester %></td>
		<td><button class="btn btn-link" type="submit" name="un" value="<%= paper.username %>"><%= paper.subjectname %></button>
	</tr>
	<% }) %>
		</table>
		<br>
		<small class="form-text text-muted t">Please click on any of the subject to view the Question paper.</small>
</form>
</div>


<% include ../partials/afooter %>